*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
 
  
}
 
.footerpart{
  /* background-color: #0F1035;  */
  /* background-color: #7FC7D9;
  background-image: linear-gradient(90deg,   #7FC7D9, #365486);   */
  background-color: #DBE7C9;
  color: #0F1035;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 10;
  /* border:saddlebrown 1px solid; */
position:relative;
margin-bottom: 0;


}
  
h2{
  text-align: center;
  margin: 10px auto;
}
 p{

  text-align: center;
 }

.footer1{
flex: 1;

text-align: center;

}
.footer2{
 
  flex:1;
  
}
.fheader{
  color: #108A00;
  font-size: large;
}
.footer3{
  flex: 1;
  
}
.clogo{
  margin-left: 40px;
  height: 50px;
  width:50px;
}