*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
 
  
}
.boxp,h4{
  color:blueviolet
}
.lpage{
  /* background-color: #7FC7D9;
  background-image: linear-gradient(90deg,  #365486 ,#7FC7D9);   */
  background-color: #F2F4F7;
  color: black;
  padding:100px 50px 300px 50px;
}
.content{
  display: flex;
  flex-direction: column;
  
  /* color: #ced1f4; */
  color:black;
  row-gap: 80px;
}
.singlecontent{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: transparent;
}
.lleft{
  flex:1;
  padding: 20px;
  background-color: #DBE7C9;
  border-radius: 8px;
  }
  .forexplorebtn {
   margin: 30px auto ;
    border: solid 1px rgb(216, 33, 51);
    /* background: linear-gradient(to right, #000000, #3533cd);  */
    background-color: #108A00;
    color: #fffeff;
   padding: 4px 8px;
  }
.lheader{
  color: #108A00;
  font-size: large;
}
.lright{
  position: relative;
  flex:1;
  padding: 20px;
 
}
.firstimg{
  clip-path: polygon(0% 0%, 75% 0%, 100% 30%, 100% 100%, 80% 100%, 25% 100%, 0% 70%, 0% 20%);
  width: 100%;
  height: 400px;
  border-radius: 20px;
  }
  .otherimg{
    width: 100%;
  height: 400px;
  border-radius: 80px;
  }
  .extraimg{
    width: 90%;
    height: 300px;
    border-radius: 40px;
    margin-bottom: -100px;
  }
.lbox{
  height: 155px;
  width: 200px;
  background: #DCF2F1;
  color:  #0F1035;
  position: absolute;
 bottom: 10%;
  right: 0;
  border-radius: 10px;
  z-index: 2;
padding: 10px;
}