* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxp {
  color: blueviolet;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 400ms ease-in;
}
.boxp:hover{
  text-shadow: 0.5px 0.5px 0.5px black;
}

.lpage {
  background-color: #F2F4F7;
  color: black;
  padding: 4rem 3rem 4rem 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  color: black;
  row-gap: 5rem;
}

.singlecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  /* border: 2px solid black; */
  /* background: transparent; */
}

/* .left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #DBE7C9;
  border-radius: 8px;
  align-items: center;
} */

.forexplorebtn {
  margin: 1rem;
  background-color: #108A00;
  color: #fffeff;
  padding: 0.5rem 1rem;
  transition: 300ms ease-in;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
}

.forexplorebtn:hover{
  background-color: #108a00dc;
}
.header {
  color: #108A00;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 1rem;
}

.firstimg {
  clip-path: polygon(0% 0%, 75% 0%, 100% 30%, 100% 100%, 80% 100%, 25% 100%, 0% 70%, 0% 20%);
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.otherimg {
  width: 100%;
  height: 400px;
  border-radius: 80px;
}
/* 
.extraimg{
  height: 400px;
  width: auto;
} */

.extraimg {
  width: clamp(200px,100%,500px);
  height:clamp(20vh,40vh,45vh);
  height: 40vh;
  border-radius: 40px;
  margin-bottom: -100px;
  box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.528);
}

.box {
  height: fit-content;
  width:auto;
  background: #DCF2F1;
  color: #0F1035;
  position: absolute;
  bottom: 15%;
  right: 0;
  border-radius: 0.5rem;
  z-index: 2;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}