@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply bg-blue-300 px-3 py-2 mx-3 my-4 rounded-lg hover:bg-blue-400 focus:bg-gray-300;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}